.background-content-container {
  overflow-y: auto !important;
  overflow: -moz-scrollbars-none !important;
  height: 85vh;
  position: relative;
}
.background-content-container,
body {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
}
